<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- My content -->
    <script src="~/js/router.js" asp-append-version="true"></script>
    <script>router.init('@Url.ApplicationUrl()');</script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>

    <!-- JqGrid-->
    <link rel="stylesheet" rel="~/lib/jqgrid/css/ui.jqgrid.css" asp-append-version="true" />
    <link rel="stylesheet" rel="~/lib/jqgrid/css/ui.jqgrid-bootstrap.css" asp-append-version="true" />
    <script src="~/lib/jqgrid/js/grid.locale-en.js" asp-append-version="true"></script>
    <script src="~/lib/jqgrid/js/jquery.jqGrid.js" asp-append-version="true"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" asp-append-version="true" />
</head>
<body class="bg-dark p-0">
    <div class="container-md p-0">
        <div class="col-md-4"></div>
        <div class="col-md-4 offset-md-4">
            <div class="card border-2 border border-success">
                <div class="card-header bg-success text-dark fs-4 rounded-0 text-end fixed-top">@ViewBag.Title</div>
                <div class="card-body bg-dark overflow-scroll pt-5 pb-5">
                    @RenderBody()
                </div>
                <div class="card-footer bg-dark text-center text-white fs-4 rounded-0 d-flex justify-content-evenly fixed-bottom border border-success">
                    <a class="btn btn-dark text-success" asp-controller="Home" asp-action="About">About</a>
                    <a class="btn btn-dark text-success" asp-controller="Home" asp-action="OpenCurrentlyPlaying">Playing</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>