<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- My content -->
    <script src="~/js/router.js"></script>
    <script>router.init('@Url.ApplicationUrl()');</script>
    <script src="~/js/site.js"></script>

    <!-- JQuery -->
    <script src="~/lib/jquery-3.6.1/jquery-3.6.1.min.js"></script>

    <!-- JqGrid-->
    <script src="~/lib/jqgrid/css/ui.jqgrid-bootstrap.css"></script>
    <script src="~/lib/jqgrid/js/grid.locale-en.js"></script>
    <script src="~/lib/jqgrid/js/jquery.jqGrid.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap-5.0.2-dist/css/bootstrap.css" />
    <script src="~/lib/bootstrap-5.0.2-dist/js/bootstrap.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.1.2-web/fontawesome-free-6.1.2-web/css/all.css" />
</head>
<body class="bg-dark p-0">
    <div class="container-md p-0">
        <div class="col-md-4"></div>
        <div class="col-md-4 offset-md-4">
            <div class="card border-2 border border-success">
                <div class="card-header bg-success text-dark fs-4 rounded-0 text-end">@ViewBag.Title</div>
                <div class="card-body bg-dark">
                    @RenderBody()
                </div>
                <div class="card-footer bg-dark text-center text-white fs-4 rounded-0 d-flex justify-content-evenly">
                    <a class="btn btn-dark text-success" asp-controller="Home" asp-action="About">About</a>
                    <a class="btn btn-dark text-success" asp-controller="Home" asp-action="OpenCurrentlyPlaying">Playing</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>