<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="C:\Temp\NLog.Internal.log">

  <extensions>
  </extensions>
	
    <variable name="basedir" value="D:\MyDev\Logs" />
    <variable name="appName" value="Spotify" />

  <targets async="true">
	  
    <target name="BlackHole" xsi:type="Null" formatMessage="false" />
    
    <target name="File" xsi:type="File"
            layout="${longdate} ${level:uppercase=true:padding=-5} ${machinename} ${callsite:cleanNamesOfAnonymousDelegates=True:cleanNamesOfAsyncContinuations=True}  ${message}  ${exception:format=tostring}"
            fileName="${basedir}\${appName}.today.log"
            archiveFileName="${basedir}\${appName}.previous.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="4"
            concurrentWrites="true"
            keepFileOpen="false" />

    <target name="Console" xsi:type="ColoredConsole" layout="${longdate} ${level:uppercase=true:padding=-5} ${message}" />
  
  </targets>
  
  <rules>
	  <logger name="Spotify.*" minlevel="Trace" writeTo="File" />
	  <logger name="Spotify.*" minlevel="Trace" writeTo="Console" />
  </rules>
</nlog>