/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
*/
body {
  margin-bottom: 60px;
}


html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    /*background-color: #4C4;*/
    height: 50px;
}

main {
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 0;
    left: 0;
    overflow-y: auto;
}


nav.card-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: #4C4;*/
    height: 50px;
}



.nav-tabs .nav-item .nav-link {
    opacity: 50%;
}

    .nav-tabs .nav-item .nav-link.active {
        font-size: 120%;
        border: none;
        background-color: transparent;
        opacity: 100%;
    }